<div class="cart-container" [class.cart-mobile-expanded]="mobileCartExpanded">
  <div *ngIf="!isSmartPhone" class="cart-header">
    <h2 class="cart-title">Carrinho</h2>
  </div>
  <div *ngIf="isSmartPhone" (click)="mobileCartExpanded = !mobileCartExpanded" class="cart-header-smartphone">
    <h2 class="cart-title">Carrinho</h2>
    <mat-icon
      [class.arrow-header-down]="mobileCartExpanded"
      [class.arrow-header-up]="!mobileCartExpanded"
      class="arrow-header">
      keyboard_arrow_down
    </mat-icon>
  </div>
  <div class="cart-poke">
    <ng-container *ngFor="let pokemon of pokemonOnCart; let i = index">
      <app-cart-item (deletedArrayIndex)="onDeletePokemonCartItem($event)"
                     [index]="i" [pokemon]="pokemon">
      </app-cart-item>
    </ng-container>
  </div>
  <div class="buy">
    <span class="buy-text">Total: {{total | currency: 'BRL' : 'symbol'}}</span>
    <button (click)="onFinishedBuyClick()"
            [disabled]="!pokemonOnCart.length"
            class="buy-button" mat-flat-button>
      Finalizar a compra
    </button>
  </div>
</div>
