.cart-container {
  width: 300px;
  height: 100%;
  background-color: #3f51b5;
  display: grid;
  justify-content: center;
  grid-template-columns: 90%;
  grid-template-rows: min-content auto min-content;
}

.cart-header {
  box-shadow: 0 8px 5px -4px rgba(0,0,0,.16);
}

.cart-title {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: #f1f1f1;
}

.cart-poke {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cart-poke::-webkit-scrollbar {
  width: 5px;
}

.cart-poke::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.cart-poke::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.buy {
  box-shadow: 0 -8px 5px -4px rgba(0,0,0,.16);
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: auto auto;
  row-gap: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buy-text {
  color: #f1f1f1;
  font-size: 18px;
}

.buy-button {
  background-color: #008000;
  color: #f1f1f1;
}

@media screen and (max-width: 425px){
  .cart-container {
    width: unset;
    height: 146px;
    transition: all linear .2s;
  }

  .cart-mobile-expanded {
    height: 400px;
  }

  .cart-header-smartphone {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto;
    align-items: center;
    box-shadow: 0 8px 5px -4px rgba(0,0,0,.16);
  }

  .arrow-header {
    transition: all linear .2s;
    color: #f1f1f1;
  }

  .arrow-header-down {
    transform: rotate(180deg);
  }

  .arrow-header-up {
    transform: rotate(0deg);
  }
}

