.card {
  margin: 10px;
}

.poke-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 150px;
  grid-template-rows: repeat(5, auto);
}

.img {
  width: 100%;
  height: auto;
}

.text {
  text-align: center;
  max-width: 100%;
  text-transform: capitalize;
  margin-bottom: 0;
  font-size: 18px;
  color: rgba(0, 0, 0, .65);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  text-align: center;
  color: rgba(0, 0, 0, .65);
}

.button {
  width: 100%;
}

@media screen and (max-width: 575px) {
  .poke-container {
    grid-template-columns: 110px;
  }

  .card {
    margin: 5px;
  }
}
